﻿<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Adminfiles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>حامد حاجیلو</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="جستجو">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-assistive-listening-systems"></i> <span>مدیریت سیستم</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i><span>مدیریت کاربران</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Student" asp-action="Index">  <i class="ion ion-university"></i>دانشجو </a></li>
                            <li><a asp-controller="Teacher" asp-action="Index">  <i class="fa fa-university"></i>استاد </a></li>
                            <li><a asp-controller="Personel" asp-action="Index">  <i class="fa fa-university"></i>پرسنل </a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="Books" asp-action="Index"><i class="fa fa-book"></i> مدیریت کتاب ها</a></li>
                </ul>
            </li>
            <li><a asp-controller="News" asp-action="Index"><i class="fa fa-newspaper-o"></i> <span>مدیریت اخبار</span></a></li>
            <li><a asp-controller="Setting" asp-action="Index"><i class="ion ion-settings"></i> <span>تنظیمات</span></a></li>
            
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>