﻿@model Entities.Setting

@{

    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";

}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="text-center">تنظیمات</h2>
    </div>
    <div class="panel-body">
        <style>
            .circleInput {
                border-radius: 3px;
            }
        </style>

        <div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
            <div class="col-md-4 col-md-offset-2" style="margin-bottom:15px; margin-top:15px;">

                <dl class="">
                    <dt>
                        @Html.DisplayNameFor(model => model.Amount_Of_Punishment_For_Reserving_The_Book)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Amount_Of_Punishment_For_Reserving_The_Book)
                    </dd><hr>

                    <dt>
                        @Html.DisplayNameFor(model => model.Amount_Of_Punishment_For_Returning_The_Book)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Amount_Of_Punishment_For_Returning_The_Book)
                    </dd><hr>


                    <dt>
                        @Html.DisplayNameFor(model => model.BorrowDay)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BorrowDay)
                    </dd><hr>



                    <dt>
                        @Html.DisplayNameFor(model => model.ReservCount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReservCount)
                    </dd><hr>


                    <dt>
                        @Html.DisplayNameFor(model => model.ReservDay)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReservDay)
                    </dd><hr>


                </dl>
                <a asp-action="Edit">ویرایش</a> |
                <a asp-action="Index">بازگشت</a>

            </div>
        </div>
    </div>
</div>




@section PanelScripts {
   

}
