﻿@model Services.Dto.BookSelectDto

@{
   
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";

}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="text-center">جزئیات کتاب</h2>
    </div>
    <div class="panel-body">
        <style>
            .circleInput {
                border-radius: 3px;
            }
        </style>

        <div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
            <div class="col-md-4 col-md-offset-2" style="margin-bottom:15px; margin-top:15px;">

                <dl class="dl-horizontal">
                    @*<dt>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ISBN)
                    </dd>*@
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuthorName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuthorName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Publisher)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PublishYear)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishYear)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Edition)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Edition)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Language)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Language)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CourseType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CourseType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model=>model.BookStatus)
                    </dt>
                   
                        @{
                            if (Model.BookStatus == Common.Enums.BookStatus.Free)
                            {
                                <dd style="color:forestgreen">@Model.BookStatusNum</dd>
                            }
                            else if (Model.BookStatus == Common.Enums.BookStatus.Reserved)
                            {
                                <dd style="color:yellow">@Model.BookStatusNum</dd>
                            }
                            else if (Model.BookStatus == Common.Enums.BookStatus.Borrowed)
                            {
                                <dd style="color:red">@Model.BookStatusNum</dd>
                            }
                        }
                    
                </dl>
                <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
                <a asp-action="Index">بازگشت</a>

            </div>

            <div class="col-md-4" style="margin-top:25px; margin-bottom:25px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-light-blue-active text-center">
                            <h3 class="widget-user-username">تصویر کتاب</h3>
                        </div>
                    </div>


                    <div class="form-group">
                        <img id="imgbook" class="img-bordered col-md-12 col-xs-12 col-sm-12"
                             src="~/upload/image/book/normalimage/@Model.ImageUrl" alt="BookImage"
                             style="height:350px;" />
                    </div>

                   

                </div>
            </div>
        </div>
    </div>
</div>




@section PanelScripts {
    <script>
        var UploadImage = function () {
            var data = new FormData;
            var file = $("#files").get(0);
            var files = file.files;

            for (var i = 0; i < files.length; i++) {
                data.append('files', files[i]);
            }

            $.ajax({
                type: "post",
                url: '@Url.Action("UploadImage", "Books", new { area = "Admin"})',
                data: data,
                contentType: false,
                processData: false,
            }).done(function (result) {
                if (result.status == "success") {
                   // var imageurl = "\\upload\\image\\normalimage\\" + result.imagename;
                    $("#imgbook").attr('src', "\\upload\\image\\\\book\\normalimage\\" + result.imagename);

                    $("#divmessage").removeClass('hidden');
                    $("#divmessage").text("تصویر با موفقیت آپلود شد");
                    $("#imagename").val(result.imagename);

                    }
                }).fail(function (result) {
                    if (result.status != "success") {
                        $("#divmessage").removeClass('hidden');
                        $("#divmessage").text("در هنگام آپلود مشکلی رخ داد");

                    }
                });

        }

    </script>
    
}
